<!doctype html>

<html lang="en" dir="ltr">

<head>
	<title>Atlas AirBnb</title>
	<!-- alternatively, multiple <link>s can be used to import other stylesheets -->
	<link rel="stylesheet" href="styles/4-common.css">
	<link rel="icon" href="images/hb-icon.png">
</head>

<body>

<header>
</header>

<div class="container">
	<section class="filters">
		<div class="locations">
			<h3>States</h3>
			<h4>&nbsp;</h4>
			<ul class="popover">
				<li>
					<h2>STATE</h2>
					<ul>
						<li>CITY</li>
					</ul>
				</li>

			</ul>
		</div>
		<div class="amenities">
			<h3>Amenities</h3>
			<h4>&nbsp;</h4>
			<ul class="popover">
				<li>AMENITY</li>
			</ul>
		</div>
		<button class="search">Search</button>
	</section>
</div>

<footer>
	<i>Tulsa Atlas School</i>
</footer>

</body>
</html>
